<div class="form-horizontal devise__common">
  <h2 class="devise__common--headline">
    <%= content_tag :i, '', class: "fas fa-door-open" %>
    PCPLGへログイン
  </h2>
  <%= form_for( resource, as: resource_name, url: new_user_session_path ) do |f| %>

  <div class="form-group">
    <%= f.label :email, 'Eメール', class: "col-sm-2" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-3 sessions__new--form" %>
  </div>

  <div class="form-group">
    <%= f.label :password, 'パスワード', class: "col-sm-2" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-3 sessions__new--form" %>
  </div>

  <% if devise_mapping.rememberable? %>
  <div class="form-group col-sm-4">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me, 'ログイン情報を記憶する' %>
  </div>

  <p class="sessions__new--submitForm">
    <%= f.submit "ログイン", class: "btn sessions__new--submitButton" %>
  </p>
  <% end %>

  <div class="">
    <%= render "users/shared/links" %>
  </div>
  <% end %>
</div>
