<!--パターン情報の列挙用部分テンプレート-->

<div class="clearfix patterns__article">
  <!--パターンアピール画像-->
  <div class="patterns__article--divLeft" >
    <%= link_to pattern_path( pattern ) do %>
    <%= attachment_image_tag pattern, :image, fallback: asset_path( "no_pattern_image.jpg" ), class: "center-block patterns__article--img" %>
    <% end %>
  </div>

  <!--パターン情報-->
  <div class="patterns__article--divRight">
    <!--パターン名-->
    <h3>
      <%= content_tag :span, '', class: "glyphicon glyphicon-th-large", aria: { hidden: true } %>
      <%= pattern.name %>
    </h3>

    <p>
      <!--カテゴリ表示-->
      <%= content_tag :span, "カテゴリ：#{ pattern.category.name }", class: "glyphicon glyphicon-tag patterns__article--submitUser", aria: { hidden: true } %>
      <!--トーラス面設定-->
      <%= content_tag :span, "トーラス面設定：#{ pattern.is_torus ? '有効' : '無効' }", class: "fas fa-globe-asia patterns__article--submitUser" %>
      <br>

      <!--パターン紹介文-->
      <%= pattern.introduction.truncate( character_limit ) %><br>

      <!--投稿者紹介-->
      <span class="patterns__article--submitUser">
        by <%= link_to pattern.user.name.truncate( 10 ), member_path( pattern.user_id ) %>さん
      </span>

      <!--投稿者情報（showページでは表示しない）-->
      <%= render 'patterns/property', pattern: pattern if action_name != 'show' %>
    </p>
  </div>
</div>
