<!--入力フォーム用部分テンプレート-->

<%= form_with( model: @pattern, class: "form-horizontal" ) do | f | %>

<!--パターン名（入力必須）-->
<div class="form-group">
  <%= f.label :name, ' パターンの名前', class: "fas fa-pencil-alt col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :name, class: "form-control" %>
  </div>
</div>

<!--カテゴリ選択（デフォルト：未分類）-->
<div class="form-group">
  <%= f.label :category_id, ' カテゴリ', class: "fas fa-folder-open col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.select :category_id, Category.pluck( :name, :id ).to_h %>
  </div>
</div>

<!--表示形式選択（デフォルト：Default 1）-->
<div class="form-group">
  <%= f.label :display_format_id, ' セルの表示形式', class: "fas fa-th-large col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.select :display_format_id, DisplayFormat.list, {}, onchange: "previewDisplayFormatAtPatternsNew(this.value);" %>
  </div>
</div>

<!--このパターン紹介文（入力必須）-->
<div class="form-group">
  <%= f.label :introduction, ' このパターン紹介文', class: "fas fa-pencil-alt col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_area :introduction, rows: 3, class: "form-control" %>
  </div>
</div>

<!--パターンのイメージ-->
<div class="form-group">
  <%= f.label :image_id, " イメージ画像", class: "fas fa-image col-sm-2 control-label" %>
  <div class="col-sm-10">
    <label class="application__common--imgLabel">
      画像をアップロード
      <%= f.attachment_field :image, style: "display: none;", onchange: "displayUploadImage(this);" %>
    </label>
  </div>
</div>

<!--トーラス面設定-->
<div class="form-group">
  <%= f.label :is_torus, " トーラス面設定", class: "fas fa-globe-asia col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.radio_button :is_torus, true, onchange: "patternData.changeTorusFlag(this.value);" %>
    <%= f.label :is_torus, '有効' %>
    <%= f.radio_button :is_torus, false, onchange: "patternData.changeTorusFlag(this.value);" %>
    <%= f.label :is_torus, '無効' %>
  </div>
</div>

<!--入力フォームの分岐-->

<% if @pattern.new_record? then %>
<!--newページの場合-->

<!--四方向のマージン（自動入力）-->
<%= f.hidden_field :margin_top, readonly: true %>
<%= f.hidden_field :margin_bottom, readonly: true %>
<%= f.hidden_field :margin_left, readonly: true %>
<%= f.hidden_field :margin_right, readonly: true %>

<!--正規化行数列（自動入力）-->
<%= f.hidden_field :normalized_rows_sequence, readonly: true %>

<!--投稿ボタン-->
<p class="patterns__new--submit">
  <%= f.submit "これで投稿する", class: "btn btn-primary" %>
</p>


<% else %>
<!--editページの場合-->

<!--四方向のマージン-->
<div class="form-group">
  <label class="col-sm-2 control-label fas fa-arrows-alt"> 余白設定</label>
  <div class="col-sm-10">
    <table class="patterns__edit--table">
      <tr>
        <th>方向</th>
        <th>上側</th>
        <th>左側</th>
        <th>右側</th>
        <th>下側</th>
        <th></th>
      </tr>
      <tr>
        <td>余白</td>
        <td><%= f.number_field :margin_top,       min: 0, class: "form-control" %></td>
        <td><%= f.number_field :margin_left,       min: 0, class: "form-control" %></td>
        <td><%= f.number_field :margin_right,     min: 0, class: "form-control" %></td>
        <td><%= f.number_field :margin_bottom, min: 0, class: "form-control" %></td>
        <td class="patterns__edit--submit">
          <!--投稿ボタン-->
          <%= f.submit "編集完了", class: "btn btn-primary"%>
        </td>
      </tr>
    </table>
    ※余白の変更は画面に反映されません
  </div>
</div>
<% end %>

<% end %>
