<!--パターンに対するレスポンス情報用テンプレート-->

<nav class=<%= "patterns__property--#{action_name}" %>>
  <ul>
    <li>
      作成日: <%= date_format( pattern.created_at ) %>
    </li>
    <li>
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
      閲覧数: <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>工事中<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
    </li>
    <li>
      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
      コメント: <%= pattern.post_comments.size %>
    </li>
    <li>
      <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
      <!--お気に入り項目-->
      <% if /show/.match?( action_name ) && !! current_user then %>
      <!--ログイン中のユーザの場合-->
      <!--お気に入り登録・削除の表示-->
      <% if !! Favorite.find_by( user_id: current_user.id, pattern_id: pattern.id ) then %>
      <!--登録済の場合-->
      <%= render 'favorites/destroy', pattern_id: pattern.id %>
      <% else %>
      <!--未登録の場合-->
      <%= render 'favorites/create', pattern_id: pattern.id %>
      <% end %>
      <% else %>
      <!--非ログインユーザの場合-->
      お気に入り数
      <% end %>
      <!--お気に入り登録ユーザ数-->
      <%= ": #{ pattern.favorites.size }" %>
    </li>
  </ul>
</nav>
