<!--パターンに対するレスポンス情報用テンプレート-->

<nav class=<%= "patterns__property--#{action_name}" %>>
  <ul>
    <li>
      作成日: <%= date_format( pattern.created_at ) %>
    </li>
    <li>
      <%= content_tag :span, '', class: "glyphicon glyphicon-eye-open", aria: { hidden: true } %>
      閲覧数:<%= pattern.preview_count %>
    </li>
    <li>
      <%= content_tag :span, '', class: "glyphicon glyphicon-comment", aria: { hidden: true } %>
      コメント: <%= pattern.post_comments.size %>
    </li>
    <li>
      <%= content_tag :span, '', class: "glyphicon glyphicon-paperclip", aria: { hidden: true } %>
      <!--お気に入り項目-->
      <% if action_name == 'show' && !! current_user then %>
      <!--ログイン中のユーザの場合-->
      <!--お気に入り登録・削除の表示-->
      <% if pattern.is_favorite_by?( current_user ) then %>
      <!--登録済の場合-->
      <%= render 'favorites/destroy', pattern_id: pattern.id %>
      <% else %>
      <!--未登録の場合-->
      <%= render 'favorites/create', pattern_id: pattern.id %>
      <% end %>
      <% else %>
      <!--非ログインユーザの場合-->
      お気に入り数
      <% end %>
      <!--お気に入り登録ユーザ数-->
      <%= ": #{ pattern.favorites.size }" %>
    </li>
  </ul>
</nav>
