<!--パターンに対するレスポンス情報用テンプレート-->

<nav class=<%= "patterns__property--#{action_name}" %>>
  <ul>
    <li>
      作成日: <%= date_format( pattern.created_at ) %>
    </li>
    <li>
      <%= content_tag :span, '', class: "glyphicon glyphicon-eye-open", aria: { hidden: true } %>
      閲覧数:<%= pattern.preview_count %>
    </li>
    <li>
      <%= content_tag :i, '', class: "fas fa-comment" %>
      コメント: <%= content_tag :span, pattern.comments_count, class: "comments__index--patternId=#{pattern.id}" %>
    </li>
    <!--お気に入り項目-->
    <li class="favorites__li favorites__li--patternId=<%= pattern.id %>">
      <!--クリップのアイコン-->
      <%= content_tag :span, '', class: "glyphicon glyphicon-paperclip", aria: { hidden: true } %>

      <!--Patterns#showかつログインユーザの場合-->
      <% if user_signed_in? && current_page?( pattern_path( pattern ) ) then %>
        <!--お気に入り登録・削除の表示-->
        <% if pattern.is_favorite_by?( current_user ) then %>
          <!--登録済の場合-->
          <%= render 'favorites/destroy', pattern_id: pattern.id %>
        <% else %>
          <!--未登録の場合-->
          <%= render 'favorites/create', pattern_id: pattern.id %>
        <% end %>
      <% else %>
        お気に入り数
      <% end %>

      <!--お気に入り登録ユーザ数-->
      <%= content_tag :span, ": #{ pattern.favorites_count }", class: "favorites__common--count" %>
    </li>
  </ul>
</nav>
