<!--パターンのエミュレート用ページ-->

<!--ページ上部-->
<div class="patterns__show">
  <!--パターン詳細情報-->
  <%= render 'patterns/property', pattern: @pattern %>
  <!--パターン編集ページ遷移アクション-->
  <% if current_user&.id == @pattern.user_id then %>
  <%= link_to edit_pattern_path( @pattern ), class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
  編集する
  <% end %>
  <% end %>
  <%= render 'patterns/article', pattern: @pattern, character_limit: 1000 %>
  <!--ライフゲームエミュレート画面-->
  <%= render 'patterns/emulation' %>
</div>

<!--ページ下部-->
<div class="clearfix patterns__show--bottom">
  <!--ページ下部（左セクション）-->
  <div class="patterns__show--bottomLeft">
    <div class="comments__index">
      <!--コメント一覧タイトル-->
      <h3 class="comments__index--headline">最新のコメント</h3>

      <!--投稿コメント一覧-->
      <% if @latest_comments.empty? then %>
      <!--コメントがない場合の表示-->
      <p class="comments__article--nothing">
        現在、この投稿に対するコメントはありません。
      </p>
      <% else %>
      <!--最新のコメント5件まで表示-->
      <% @latest_comments.reverse_each do | comment | %>
      <%= render 'post_comments/article', comment: comment %>
      <% end %>
      <% end %>
    </div>

    <!--コメント投稿フォーム（ログインユーザのみ表示）-->
    <% if user_signed_in? then %>
    <div class="comments__form">
      <%= form_with url: pattern_post_comment_path( @pattern ) do | f |%>
      <%= f.text_area :body, class: "comments__form--body", rows: 3 %>
      <%= f.submit '投稿', class: "btn btn-default comments__form--submit" %>
      <% end %>
    </div>
    <% end %>
  </div>

  <!--ページ下部（右セクション）-->
  <div class="patterns__show--bottomRight">
    <!--関連するカテゴリ情報表示のタイトル-->
    <h3>
      <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
      このカテゴリに関連するパターン
    </h3>

    <% if @sampling_patterns.empty? then %>
    <!--投稿がない場合の表示-->
    <p class="patterns__article--nothing">
      現在、このカテゴリに属する投稿はありません。
    </p>
    <% else %>
    <!--同カテゴリの最新パターン2件まで表示-->
    <% @sampling_patterns.reverse_each do | pattern | %>
    <%= render 'patterns/article', pattern: pattern, character_limit: 20 %>
    <% end %>
    <%= link_to '関連するパターンを見に行く', patterns_path( category_id: @pattern.category_id) %>
    <% end %>
  </div>
</div>


<!--リアルタイムでライフゲームの書式を変更できるようにするためのJS-->
<%= render 'patterns/form_preview_script' %>
