
  <div class="patterns__show">
    <%= render 'patterns/property', pattern: @pattern %>

    <%= render 'patterns/article', pattern: @pattern, character_limit: 201 %>

    <p>
      <input type="button" value="開始"               class="patterns__show--lifeGameStart"       onclick="startProcess();">
      <input type="button" value="一時停止"        class="patterns__show--lifeGameStop"       onclick="stopProcess();">
      <input type="button" value="リフレッシュ" class="patterns__show--lifeGameRefresh"   onclick="initializeLifeGame();">
      interval = 100ms
    </p>
    <p class="patterns__show--lifeGameInfo">(ここにカウントが表示されます)</p>
    <p class="patterns__show--lifeGameDisplay">(ここにライフゲームが表示されます)</p>
  </div>

<div class="clearfix patterns__show--bottom">
  <div class="patterns__show--bottomLeft">
    <div class="comments__index">
      <h3>最新のコメント</h3>
      <%= render 'post_comments/article', comment: @latest_comment %>
    </div>

    <% if user_signed_in? then %>
    <div>
      <%= form_with url: pattern_post_comment_path( @pattern ) do | f |%>
      <%= f.text_field :body, class: 'comments__form' %>
      <%= f.submit '投稿', class: 'btn btn-default' %>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="patterns__show--bottomRight">
    <h3>関連するパターン</h3>
    <%= render 'patterns/article', pattern: @latest_same_category_pattern_sample, character_limit: 20 %>
    <%= link_to 'このカテゴリーのパターンを見に行く', patterns_path( category_id: @pattern.category_id) %>
</div>


<script>
  // turbolinksのせいで２回実行されるが、
  // タイマー処理の初期化を実施するだけなので
  // 問題なしと判断
  // console.log('<%= Time.zone.now %>');
  initializeLifeGame();
</script>
