<!--カテゴリの個別表示用部分テンプレート-->

<tr class='categories__index--tableTr <%= "categories___article--categoryId=#{category.id}" %>'>
  <td class="categories__index--tableTd"><%= category.id %></td>
  <td><%= category.name %></td>
  <td><%= category.explanation %></td>
  <td>
    <%= link_to "編集", edit_admin_category_path( category ), class: "btn btn-success", remote: true %>
  </td>
</tr>
