<div class="form-horizontal devise__common">
  <h2 class="devise__common--headline">パスワード再発行</h2>
  <p>アカウントのメールアドレスを入力して「パスワードを変更する」を押してください。</p>

  <%= form_for( resource, as: resource_name, url: user_password_path, html: { method: :post, local: :ja  } ) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email, 'Eメール', class: "col-sm-2" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-3 registrations__new--form" %>
  </div>

  <p class="passwords__new--submitForm">
    <%= f.submit "パスワードを変更する", class: "btn btn-warning" %>
  </p>
  <% end %>

  <%= render "users/shared/links" %>
</div>
