<div class="test"></div>

<%= form_with model: display_format, class: "form-horizontal" do | f | %>

<!--ヘッダ-->
<div class="form-group">
  <%= content_tag :label, "入力項目", class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= content_tag :label, "入力内容", class: "control-label" %>
  </div>
</div>

<!--名称の設定-->
<div class="form-group">
  <%= f.label :name, ' 表示形式名称', class: "fas fa-filesignature col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :name, class: "form-control" %>
  </div>
</div>

<!--セルの表示定義-->
<div class="form-group">
  <label class="col-sm-2 control-label">
    <%= content_tag :span, '', class: "glyphicon glyphicon-th-large",aria: { hidden: true } %>
    セルの表示
  </label>
  <div class="col-sm-10">
    <%= f.label :alive, '「生」：' %>
    <%= f.text_field :alive, maxlength: 1, size: 8, placeholder: "1文字", class: "display_formats__form--cellsConditions" %>
    ／
    <%= f.label :dead, '「死」：' %>
    <%= f.text_field :dead, maxlength: 1, size: 8, placeholder: "1文字", class: "display_formats__form--cellsConditions" %>
    （注意：文字の組み合わせによっては、表示にズレが発生しますのでご注意ください。）
  </div>
</div>

<!--文字色の設定-->
<div class="form-group">
  <%= f.label :font_color, ' セルの色', class: "fas fa-palette col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.color_field :font_color, class: "form-control" %>
  </div>
</div>

<!--背景色の設定-->
<div class="form-group">
  <%= f.label :background_color, ' 背景色', class: "fas fa-fill-drip col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.color_field :background_color, class: "form-control" %>
  </div>
</div>

<!--セル間隔-->
<div class="form-group">
  <label class="fas fa-arrows-alt col-sm-2 control-label">セルの間隔</label>
  <div class="col-sm-10">
    <%= f.label :line_height_rate, ' 縦：'%>
    <%= f.number_field :line_height_rate, class: "display_formats__form--cellsMargin" %>
    ％　
    <%= f.label :letter_spacing, ' 横：'%>
    <%= f.number_field :letter_spacing, class: "display_formats__form--cellsMargin" %>
    px
  </div>
</div>

<!--送信ボタン-->
<p class="display_formats__form--submit">
  <%= f.submit ( /new/.match?( action_name ) ? "作成" : "編集完了" ), class: "btn btn-default", data: { confirm: "保存しますか？" } %>
  <!--このフォーマットが使用されていない場合に限り削除可能とする-->
  <% if  action_name == 'edit' && ! display_format.used? then %>
  <%= link_to "このフォーマットを削除", display_format_path( display_format ), method: :delete, data: { confirm: "本当に削除してもよろしいですか？" }, class: "btn btn-danger" %>
  <% end %>
</p>
<% end %>

<%= render 'display_formats/form_preview_script' %>
