<!DOCTYPE html>
<html>
  <head>
    <title>PlayCreatePublishLifeGame_管理者</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h1>（管理者）</h1>

    <nav>
    <ul>
      <li><%= link_to "Top for user", root_path %></li>
      <li><%= link_to "Top for Admin", admin_root_path %></li>
      <li><%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete %></li>
    </ul>
  </nav>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer></footer>
</html>
