<!DOCTYPE html>
<html>
<head>
  <title>PlayCreatePublishLifeGame_管理者</title>
  <% if Rails.env.production? then %>
  <link rel="shortcut icon" type="image/x-icon" href="<%= asset_path("favicon2.ico") %>">
  <% else %>
  <%= favicon_link_tag( asset_path( "favicon2.ico" ) ) %>
  <% end %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
</head>

<header>
  <h1>PlayCreatePublishLifeGame_管理者ページ</h1>

  <% if admin_signed_in? then %>
  <nav>
    <ul>
      <li><%= link_to "Top for Admin", admin_root_path %></li>
      <li><%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete, data: { confirm: 'ログアウトしますか？' } %></li>
    </ul>
  </nav>
  <% end %>
</header>

<body>
  <div class="container">
    <%= yield %>
  </div>
</body>


<footer>
  <% if Rails.env.development? && admin_signed_in? then %>
  <%= render 'admin/layouts/debug_section' %>
  <% end %>
</footer>
</html>
