<!--作成中パターンの操作用インターフェース-->

<!-- タブ・メニュー -->
<ul class="nav nav-tabs makings__edit--tabNav">
	<li class="makings__edit--tabLi active"><a href="#sampleContentA" data-toggle="tab">パターンの検証</a></li>
	<li class="makings__edit--tabLi"><a href="#sampleContentB" data-toggle="tab">一括処理</a></li>
	<li class="makings__edit--tabLi"><a href="#sampleContentC" data-toggle="tab">特殊処理</a></li>
	<li class="makings__edit--tabLi"><a href="#sampleContentD" data-toggle="tab">パターンの初期化</a></li>
	<li class="makings__edit--tabLi"><a href="#sampleContentE" data-toggle="tab">画像から作成</a></li>
</ul>

<!-- タブ内容 -->
<div class="tab-content">
	<div class="tab-pane makings__edit--tabCommon active" id="sampleContentA">
		<!--提出前・動作チェック前パターンの適性チェック用アクション-->
		<button type="button" class="btn btn-primary makings__edit--verification" onclick="verificationMakingPattern();">
			検証
		</button>

		<!--「変更を保存」ボタンはdisplay: none;がデフォルト設定-->
		<%= f.submit '変更を保存', id: "makings__edit--update", class: "btn btn-success" %>

		<!--パターン新規作成画面への移動アクション-->
		<%= link_to new_pattern_path, id: "patterns__new--jump", class: "btn btn-default" do %>
		<%= content_tag :span, ' このパターンを投稿する（パターン情報入力ページへ）', class: "glyphicon glyphicon-pencil", aria: { hidden: true } %>
		<% end %>
	</div>


	<div class="tab-pane makings__edit--tabCommon" id="sampleContentB">
		<!--(1)ビット列の短い行に対する、「左側」への"0"の補完処理-->
		<button type="button" class="btn btn-originGreen" onclick="autoComplement( 'left' );">
			自動補完（左側）
		</button>
		<!--(2)ビット列の短い行に対する、「右側」への"0"の補完処理-->
		<button type="button" class="btn btn-originGreen" onclick="autoComplement( 'right' );">
			自動補完（右側）
		</button>
	</div>

	<div class="tab-pane makings__edit--tabCommon" id="sampleContentC">
		<!--(1)上下反転アクション-->
		<button type="button" class="btn btn-originGreen" onclick="makingPatternTouchingUp(1);">
			<%= content_tag :i, ' 上下反転', class: "fas fa-arrows-alt-v" %>
		</button>
		<!--(2)左右反転アクション-->
		<button type="button" class="btn btn-originGreen" onclick="makingPatternTouchingUp(2);">
			<%= content_tag :i, ' 左右反転', class: "fas fa-arrows-alt-h" %>
		</button>
		<!--(3)回転アクション-->
		<button type="button" class="btn btn-originGreen" onclick="makingPatternTouchingUp(3);">
			<%= content_tag :i, ' 反時計回りに回転', class: "fas fa-undo" %>
		</button>
	</div>

	<div class="tab-pane makings__edit--tabCommon" id="sampleContentD">
		<!--作成中のパターンを初期化-->
		<p class="makings__edit--destroyTab">
			<%= link_to making_path, method: :delete, data: { confirm: "作成中のパターンを初期化しますか？" } do %>
			<%= content_tag :i, 'パターンを初期化', class:"fas fa-bomb"%>
			<% end %>
		</p>
	</div>

	<div class="tab-pane makings__edit--tabCommon" id="sampleContentE">
		<!--画像から作成ページへ移動-->
		<%= link_to '画像から作成', new_making_path, class: 'btn btn-originRainbow' %>
	</div>
</div>
