
<div class="makings__edit--top">
  <%= form_with url: making_path, method: :patch do | f | %>
  <h3>
    パターン編集エリア
    <%= render 'makings/edit_helper' %>
    <!--「変更を保存」ボタンはdisplay: none;がデフォルト設定-->
    <%= f.submit '変更を保存', class: "btn btn-success", id: "makings__edit--submit" %>
  </h3>
  <%= f.hidden_field :id, value: @making.id %>
  <%= f.text_area :making_text, value: @making_pattern.join( "\n" ), class: "makings__edit--textarea", rows: @making_pattern.size, type: 'number' %>
  <% end %>
</div>

<div class="makings__edit--bottom">
  <h3>作成中のパターン</h3>
  <%= render 'patterns/emulation' %>
  <%= link_to '投稿(工事中)', ?#, class: "btn btn-default" %>
</div>
