<!--オリジナルアラート表示用部分テンプレート-->

<!--サクセス系メッセージ-->
<div class="alert alert-success application__alert--common application__alert--success" role="alert">
  <button type="button" class="close application__alert--closeButton" onclick="callMessageWindow();">
    <!--メッセージ非表示アクション-->
    <%= content_tag :span, '×', aria: { hidden: true } %>
  </button>
  <!--タイトル-->
  <h3 class="alert-heading application__alert--headline">
    <%= content_tag :span, ' Success', class:"glyphicon glyphicon-ok-sign", aria: { hidden: true } %>
  </h3>
  <hr>
  <!--一覧-->
  <ul class="mb-0 application__alert--body">
    <li>サクセスメッセージ</li>
  </ul>
</div>

<!--お知らせ系メッセージ-->
<div class="alert alert-info application__alert--common application__alert--info" role="alert">
  <button type="button" class="close application__alert--closeButton" onclick="callMessageWindow();">
    <!--メッセージ非表示アクション-->
    <%= content_tag :span, '×', aria: { hidden: true } %>
  </button>
  <!--タイトル-->
  <h3 class="alert-heading application__alert--headline">
    <%= content_tag :span, ' Information', class:"glyphicon glyphicon-info-sign", aria: { hidden: true } %>
  </h3>
  <hr>
  <!--一覧-->
  <ul class="mb-0 application__alert--body">
    <li>お知らせメッセージ</li>
  </ul>
</div>

<!--警告系メッセージ-->
<div class="alert alert-warning application__alert--common application__alert--warning" role="alert">
  <button type="button" class="close application__alert--closeButton" onclick="callMessageWindow();">
    <!--メッセージ非表示アクション-->
    <%= content_tag :span, '×', aria: { hidden: true } %>
  </button>
  <!--タイトル-->
  <h3 class="alert-heading application__alert--headline">
    <%= content_tag :span, ' Warning', class:"glyphicon glyphicon-exclamation-sign", aria: { hidden: true } %>
  </h3>
  <hr>
  <!--一覧-->
  <ul class="mb-0 application__alert--body">
    <li>警告系メッセージ</li>
  </ul>
</div>

<!--重要系メッセージ-->
<div class="alert alert-danger application__alert--common application__alert--danger" role="alert">
  <button type="button" class="close application__alert--closeButton" onclick="callMessageWindow();">
    <!--メッセージ非表示アクション-->
    <%= content_tag :span, '×', aria: { hidden: true } %>
  </button>
  <!--タイトル-->
  <h3 class="alert-heading application__alert--headline">
    <%= content_tag :span, ' Danger', class:"glyphicon glyphicon-remove-sign", aria: { hidden: true } %>
  </h3>
  <hr>
  <!--一覧-->
  <ul class="mb-0 application__alert--body">
    <li>重要系メッセージ</li>
  </ul>
</div>
