<!--ドロップダウンリスト-->

<ul class="application__header--dropdownMenue">
  <li>
    <!--タイトル-->
    <%= content_tag :span, '', class: "glyphicon glyphicon-list", aria: { hidden: true }, style: "color: rgba(0,0,0,0);" %>
    　メニュー
  </li>
  <li>
    <!--ログインユーザ中のページへのリンク-->
    <%= content_tag :span, '', class: "glyphicon glyphicon-user", aria: { hidden: true } %>
    <%= link_to "　マイページ", member_path( current_user ) %>
  </li>
  <li>
    <!--お気に入り一覧ページへのリンク-->
    <%= content_tag :span, '', class: "glyphicon glyphicon-star", aria: { hidden: true } %>
    <%= link_to "　お気に入り一覧", member_path( current_user, 'favorite' => true ) %>
  </li>
  <li>
    <!--パターン新規作成ページへのリンク-->
    <%= content_tag :span, '', class: "glyphicon glyphicon-plus", aria: { hidden: true } %>
    <%= link_to "　パターン作成", edit_making_path %>
  </li>
  <li>
    <!--セルの表示形式編集用リンク-->
    <%= content_tag :i, "", class: "fas fa-th-large" %>
    <%= link_to "　セルの表示編集", new_display_format_path %>
  </li>
  <li>
    <!--ログアウト用リンク-->
    <%= content_tag :span, '', class: "glyphicon glyphicon-share", aria: { hidden: true } %>
    <%= link_to "　ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしてよろしいですか？" } %>
  </li>
  <li>
    <!--ドロップダウンメニューを閉じる-->
    <%= content_tag :span, '', class: "glyphicon glyphicon-remove", aria: { hidden: true } %>
    <%= link_to "　閉じる", ?#, onclick: "return showDropdownMenue();" %>
  </li>
</ul>
