<!DOCTYPE html>
<html>
<head>
  <title>Play!Create!Publish! LifeGame</title>
  <%= favicon_link_tag "favicon1.ico" %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    "user", media: "all", "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag "user", "data-turbolinks-track": "reload" %>
  <script src="https://kit.fontawesome.com/<%= ENV['FONT_AWESOME_API'] %>.js" crossorigin="anonymous"></script>
</head>

<!--ヘッダーセクション-->
<header>
  <h1>Play!Create!Publish! LifeGame</h1>
  <%= render 'layouts/header_menue' %>
</header>

<body>
  <div class="container">
    <% if include_alert?( request.fullpath ) then %>
    <!--ページURLからアラートセクションが必要か判定-->
    <%= render 'layouts/alert' %>
    <% end %>

    <!--メインセクション-->
    <div class="row">
      <!--メインセクション（左側：カテゴリ一覧）-->
      <% if include_category_index?( request.fullpath, controller_name ) then %>
      <div class="col-md-2 application__layouts--leftSection">
        <%= render 'categories/index' %>
      </div>
      <% end %>

      <!--メインセクション（右側：各ページ）-->
      <div class="col-md-10 application__layouts--rightSection">
        <%= yield %>
      </div>
    </div>
  </div>
</body>

<!--フッターセクション-->
<footer></footer>
</html>
