<!DOCTYPE html>
<html>

<head>
  <title>Play!Create!Publish! LifeGame</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= include_gon %>
  <%= stylesheet_link_tag    "user", media: "all", "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag "user", "data-turbolinks-track": "reload" %>
</head>

<body>

  <header>
    <h1>Play!Create!Publish! LifeGame</h1>
    <%= render 'layouts/headerMenue' %>
  </header>

  <div class="container">
    <div class="row">

      <div class="col-md-2 application__layouts--leftSection">
        <%= render 'categories/index' %>
      </div>

      <div class="col-md-10 application__layouts--rightSection">
        <%= yield %>
      </div>

    </div>
  </div>

  <footer>
    い
  </footer>

</body>
</html>
