<!--ユーザ詳細情報用部分テンプレート-->

<% if action_name == "edit" then %>
<!--編集時用テンプレート-->

<%= form_with( model: user, url: member_path( user ), class: "members__edit" ) do | f | %>
<!--ユーザID-->
<%= f.hidden_field :id, value: current_user.id, readonly: true %>
<!--プロフィール画像-->
<div class="members__show--divLeft">
  <%= attachment_image_tag user, :profile_image, fallback: asset_path( "no_image.jpg" ), class: "members__show--img" %><br>
  <%= f.attachment_field :profile_image %>
</div>

<!--ユーザ紹介テンプレート-->
<div class="members__show--divRight">
<!--ユーザ名-->
<%= content_tag :span, " ユーザ名", class: "glyphicon glyphicon-user", aria: { hidden: true } %>
<%= f.text_field :name, value: user.name, class: "form-control members__edit--name" %><br>
<!--自己紹介文-->
<%= content_tag :span, '', class: "glyphicon glyphicon-th-large", aria: { hidden: true } %>
自己紹介文
<%= content_tag :span, '', class: "glyphicon glyphicon-th-large", aria: { hidden: true } %>
<%= f.text_area :introduction, value: user.introduction, class: "form-control members__edit--introduction" %><br>

<!--提出ボタン-->
<p class="members__edit--submit">
  <%= f.submit '完了', class: "btn btn-info" %>
  <%= link_to '退会する', confirm_member_path( user ), class: "btn btn-danger" %>
</p>
</div>
<% end %>

<% else %>
<!--通常表示用テンプレート-->

<!--プロフィール画像-->
<div class="members__show--divLeft">
  <%= attachment_image_tag @user, :profile_image, fallback: asset_path( "no_image.jpg" ), class: "members__show--img" %><br>
  <!--編集開始ボタンの表示設定-->
  <% if @user.id == current_user&.id then %>
  <%= link_to edit_member_path( current_user ), remote: true, class: "btn btn-default" do %>
  <%= content_tag :i, " 編集", class: "fas fa-tools" %>
  <% end %>
  <% end %>
</div>

<!--ユーザ紹介テンプレート-->
<div class="members__show--divRight">
  <!--ユーザ名表示-->
  <h4 class="members__show--headline">
    <%= content_tag :span, '', class: "glyphicon glyphicon-user", aria: { hidden: true } %>
    <%= user.name %>
  </h4>
  <!--自己紹介文表示-->
  <%= content_tag :span, '', class: "glyphicon glyphicon-th-large", aria: { hidden: true } %>
  自己紹介文
  <%= content_tag :span, '', class: "glyphicon glyphicon-th-large", aria: { hidden: true } %><br>
  <%= user.introduction.blank? ? '本文がありません' : user.introduction %><br>
</div>

<% end %>
