<div class="form-horizontal devise__common">
  <h2 class="devise__common--headline">
    <%= content_tag :i, '', class: "fas fa-user-plus" %>
    新規ユーザ登録
  </h2>
  <%= form_for( resource, as: resource_name, url: user_registration_path, html: { local: :ja  } ) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email, 'Eメール', class: "col-sm-2" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-3 registrations__new--form" %>
  </div>

  <div class="form-group">
    <%= f.label :name, 'ニックネーム', class: "col-sm-2" %>
    <%= f.text_field :name, autocomplete: "name", class: "col-sm-3 registrations__new--form" %>
  </div>

  <div class="form-group">
    <div class="col-sm-2">
      <%= f.label :password, 'パスワード' %>
      <% if @minimum_password_length then %>
      <br><%= "（#{@minimum_password_length}文字以上）" %>
      <% end %>
    </div>
    <%= f.password_field :password, autocomplete: "new-password", class: "col-sm-3 registrations__new--form" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, 'パスワード再入力', class: "col-sm-2" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-sm-3 registrations__new--form" %>
  </div>

  <p class="registrations__new--submitForm">
    <%= f.submit "新規登録", class: "btn sessions__new--submitButton" %>
  </p>
  <% end %>

  <div class="">
    <%= render "users/shared/links" %>
  </div>
</div>
